
.logo {
    display: flex;
    justify-content: space-around;
}
.weet h1 {
    font-size: 30px;
    color: #063255;
}
.wet {
    display: flex;
    align-items: center;
    gap: 30px;
}
.wet ul {
    display: flex;
    gap: 30px;
}
.wet ul li {
    list-style: none;
}
.wet ul li a {
    text-decoration: none;
    color: #394149;
}
.wet button {
    width: 140px;
    height: 48px;
    color: #F58A07;
    background-color: #f8e5cd;
    border: none;
    border-radius: 30px;
}
/* ============= */

.list {
    display: flex;
    height: 550px;
    justify-content: center;
    /* margin-top: 90px; */
    background-color: #DCEAF5;
}
.proect {
    margin-top: 90px;
}
.your h1  {
    font-size: 40px;
    color: #063255;
    font-family: sans-serif;
}
.your p {
    font-size: 20px;
}
.bars {
    display: flex;
    align-items: center;
    gap: 30px;
}
.bars button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #F58A07;
}
.salom p {
    font-family: sans-serif;
    opacity: 0.8;
}
.salam {
    font-family: sans-serif;
    color: #063255;
    display: flex;
    align-items: center;
    gap: 30px;
}
.salam p {
    color: #063255;
}
.link {
    display: flex;
    align-items: center;
    gap: 7px;
}
.image img {
    width: 650px;
    height: 470px;
    margin-top: 80px;
}
/* ================= */

.sector {
    margin-left: 110px;
    margin-top: 90px;
}
.sector h1 {
    max-width: 450px;
    color: #063255;
    font-family: sans-serif;
}
.sector p {
    max-width: 500px;
}
.bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.left img {
    width: 300px;
    height: 200px;
}
.reight h1 {
    font-family: sans-serif;
}
.reight p {
    max-width: 300px;
}
.pp {
    display: flex;
    align-items: center;
    gap: 25px;
    color: #F58A07;
}

